/* CONTAINER PRINCIPAL */
.listaEducacaoContainer {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: 100%;
  box-sizing: border-box;
}

/* CABEÇALHO (com os 3 pontos)*/
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dots {
  display: flex;
  gap: 4px;
}

.dots span {
  width: 8px;
  height: 8px;
  background: linear-gradient(90deg, pink, rgb(255, 179, 192), #f806b0);
  border-radius: 50%;
}

/* LISTA DE EDUCAÇÕES */
.educacoesList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

/* ITEM DE EDUCAÇÃO */
.educacaoItem {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 110, 175, 0.4);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/*  CAMPOS DE TEXTO */
.educacaoItem input,
.educacaoItem textarea,
.educacaoItem select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid rgba(255, 110, 175, 0.4);
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}

.educacaoItem input::placeholder,
.educacaoItem textarea::placeholder {
  color: #888;
}

.educacaoItem input:focus,
.educacaoItem textarea:focus,
.educacaoItem select:focus {
  border-color: #ff6a95;
}

/*BOTÃO DE REMOVER EDUCAÇÃO */
.educacaoItem button {
  background: transparent;
  color: #ff6a95;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  align-self: flex-end;
}

.educacaoItem button:hover {
  text-decoration: underline;
}

/* BOTÃO ADICIONAR EDUCAÇÃO */
.addButton {
  background: #ff6a95;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
  margin-top: 20px;
}

.addButton:hover {
  background: #e05580;
}

/* Cabeçalho do item - igual ao de experiência */
.headerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.headerItem h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* Botão de remover no topo com X */
.removeButton {
  background: transparent;
  border: none;
  color: #ff6a95;
  font-size: 18px;
  cursor: pointer;
}

.removeButton:hover {
  color: #e05580;
}

/* Ajustando o tamanho dos labels de Início e Fim */
.dateFields label {
  font-size: 13px;
  color: #555;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}