.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 100px;
}

.erro {
  border-color: red;
}

.msgErro {
  color: red;
  font-size: 0.8rem;
}
