/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 95%;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input,
textarea {
  background-color: #ffffff25;
  padding: 8px;
  border: 1px solid #ff73c086;
  border-radius: 4px;
  font-size: 14px;
}

.erro {
  border-color: red;
}

.msgErro {
  color: red;
  font-size: 12px;
}